header {
    height: 90px;
    background-color: #C1EAFD;
    margin-bottom: 1px;
}
.header_box{
    margin: 0 auto;
    width: 960px;
}
.header_menu{
    display:inline;
    float:right;
    margin:30px 5px;
}
.header_spe{
    border-right:solid 1px black;
    padding-left:5px;
    padding-right:10px;
}
.header_link{
    color:black;
    text-decoration:none;
}

/*フッター*/
footer{
    background-color:#C1EAFD;
    border-top:solid 1px #cccccc;
}
.foot_all{
    width:520px;
    margin:0 auto;
    padding-bottom:15px;
}
.footer_img{
    text-align:center
}
.foot_link{
    color:black;
    text-decoration:none;
}

.beginner_link{
    text-align:center;
}

.contact{
    width:500px;
}
.login{
    width:235px;
    border:solid 1px #e6e6fa;
    padding:10px;
}